/*
#0B1234
(11,18,52)

body {
    margin: 0;
    padding: 0;
    background-image: url("https://raw.githubusercontent.com/mburakerman/aestextic/master/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: linear-gradient(270deg, #e3a5ee, #ede6bc);
    font-size: 13px;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
*/

body {
 background-color: #2b1165;
 background: linear-gradient(
  180deg,
  #2b1165 0%,
  rgba(26, 58, 130, 1) 37%,
  rgba(171, 36, 177, 1) 69%,
  #f54171 100%
 );
}

.overlay {
 background-color: transparent;
 background-size: 5px 5px, 5px 5px;
 background-position:  -1px -1px, -1px -1px;
 background-image: linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
                   linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
 padding-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
    background-color: #8b8b8b;
    font-family: 'Chicago';
    margin: 3vw 3vw 0 3vw;
}

header {    
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -2px #fffdfc, 0 -4px #ccdbeb;
}

header img {
    width: 15vw;
    padding: 5px;
}

header nav ul li a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.hero {
    position: relative;
    max-height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 3vw 0 3vw;
    padding: 0 0 0 0;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
  }

.hero-background {
    width: 110%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  video {
    width: 110%;
  }
  
  .hero-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    background-color: rgba(11, 18, 52, 0.5);
    padding: 0 0 30px 0;
    width: 60vmax;
    max-width: 70vw;
    max-height: 60vmin;
  }

  #big-logo{
    height: 35vmin;
  }
  
  h3 {
    font-family: 'HotRushSansItalic';
    font-size: 3em !important;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    letter-spacing: .2rem;
    padding-top:10px;
  }

  .script {
    font-family: 'Chicago';
    font-size: 1.8rem !important;
    color: #fff;
  }

  .neonText, .nav-item:hover {
    color: #222;
    text-shadow:
      0 0 4px #fff,
      0 0 5px #fff,
      0 0 6px #fff,
      0 0 10px #f3859b,
      0 0 11px #f3859b,
      0 0 12px #f3859b,
      0 0 13px #f3859b,
      0 0 14px #f3859b;
  }
  
  .hero p {
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 60rem;
    margin-bottom: 4rem;
  }
  
   .btn {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    text-transform: uppercase;
    color: #222 !important;
    background-color: #fff !important;
    padding: 1rem 2rem !important;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
  }

  .hero .btn {
      width: 35% !important;
  }
  
  button:hover, .btn:hover {
    background: linear-gradient(0.4turn, #ff7691, #32b8f1);
    color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  }

  .title-bar {
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 20px solid #8b8b8b;
    background: #000;
    margin: 3vw 18vw 3vw 18vw;
    border: 2px solid #fffdfc;
    max-width: 800px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #owner {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
  }

  #owner img {
    height: 25vmax; 
    max-height: 600px; 
    padding-left: 2vw;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10vw 0px 10vw;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: #fefefe;
    border-radius: 5px;
  }
  
  .close-btn {
    float: right;
    font-size: 1rem;
  }

  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  footer nav ul li {
    margin-right: 20px;
  }
  
  footer nav ul li:last-child {
    margin-right: 0;
  }
  
  footer nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .fa {
    font-size: 20px;
  }

@font-face {
  font-family: 'HotRushSansItalic';
  src: url('Hot\ Rush\ Sans\ Italic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Bayshore';
  src: url('Bayshore.ttf')  format('truetype');
}
@font-face {
  font-family: 'Chicago';
  src: url('chicago.woff2')  format('woff2');
}
