/* gym.css */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #000;
    padding: 1rem;
}

header {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 7vmin;
    padding: 5px;
}

header nav ul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;
}

.main-content {
    font-size: 1.1rem;
}

.hero {
    position: relative;
    height: 70vh;
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.hero-background {
    width: 100%;
    height: 100%;
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .hero-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0 30px 0;
    width: 70vw;
  }
  
  .hero h1 {
    font-family: 'Futura', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    letter-spacing: .2rem;
    margin-bottom: 2rem;
  }
  
  .hero p {
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 60rem;
    margin-bottom: 4rem;
  }
  
  .hero .btn, button {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    background-color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 35%;
  }
  
  button:hover, .btn:hover {
    background: linear-gradient(0.4turn, #f3859b, #44B1E0);
    color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  }

  .about-section, .juice-bar, .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10vw 0px 10vw;
  }

  .about-section p {
    margin: 0 5vw 0 5vw;
    color: #222;
  }

  .juice-bar p {
    margin: 0 5vw 15px 5vw;
    color: #222;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 36px;
    color: #f3859b;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: #fefefe;
    border-radius: 5px;
  }
  
  .close-btn {
    float: right;
    font-size: 1rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10vw 0px 10vw;
  }

  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  footer nav ul li {
    margin-right: 20px;
  }
  
  footer nav ul li:last-child {
    margin-right: 0;
  }
  
  footer nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .fa {
    font-size: 20px;
  }
